@using Microsoft.AspNetCore.Components

@if (HasChange)
{
    <span class="version-change">
        <span class="version-old">@PreviousVersion</span>
        <span class="version-arrow">→</span>
        <span class="version-new">@CurrentVersion</span>
    </span>
}
else if (CurrentVersion > 0)
{
    <span class="version-single">@CurrentVersion</span>
}
else
{
    <span class="version-none">-</span>
}
